<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webproject3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  		<servlet-name>RegistrionFrom</servlet-name>
  		<servlet-class>com.tap.Registration</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>RegistrionFrom</servlet-name>
  		<url-pattern>/Registrion</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  		<servlet-name>EmployeeDetails</servlet-name>
  		<servlet-class>com.tap.EmployeeDetails</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>EmployeeDetails</servlet-name>
  		<url-pattern>/EmployeeDetails</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  		<servlet-name>Update</servlet-name>
  		<servlet-class>com.tap.Update</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>Update</servlet-name>
  		<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  
  
  	<servlet>
  		<servlet-name>Delete</servlet-name>
  		<servlet-class>com.tap.Delete</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>Delete</servlet-name>
  		<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  	
  
  
  
 
  
</web-app>